{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Трекер задач</title>
{% endblock %}

{% block content %}
    <form method="get">
        {% include "partial/search.html" with form=search_form %}
    </form>

    <h1 style="color: #999; text-align: center">Трекер задач</h1>
    <div class="d-grid gap-2">
        {% if request.user.is_authenticated %}
            <div class="nav-item">
                <a href="{% url 'webapp:project_create' %}" class="btn btn-primary w-100">Создать проект</a>
            </div>
        {% endif %}
    </div>
    <div class="container mt-5">
        <div class="row">
            {% for project in projects %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h1>{{ project.title }}</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ project.description|truncatewords:30 }}</p>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'webapp:project_detail' project.id %}" class="btn btn-primary mx-2">Подробнее</a>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'webapp:project_delete' project.id %}" class="btn btn-danger mx-2">Удалить</a>
                        {% endif %}
                    </div>
                    <div class="card-footer d-flex justify-content-between text-muted">
                        <span>Создан: {{ project.start_data }}</span>
                        <span>Автор: {{ project.creator.username|default:"Не указан" }}</span>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>Проекты не найдены.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
